/* TEXTaiLES Visual Identity variables. */
body {
    --textailes-font: "Lexend Deca";
    --textailes-font-alt: Verdana;
    --textailes-color-blue: #265d72;
    --textailes-color-purple: #a8548c;
    --textailes-color-pink: #b37c8b;
    --textailes-color-gray: #ada3a3;
}

/* Base styles. */
body {
    font-family: var(--textailes-font), sans-serif;
}

p, details {
    font-family: var(--textailes-font-alt), sans-serif;
}

*:focus {
    outline-width: 2px;
    outline-style: solid;
}

/* Navigation styles. */
nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.05rem;
    font-weight: 500;
}
nav a:focus, nav a:hover {
    text-decoration: underline;
}

/* Button/Link styles. */
button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:focus, button:hover {
    background-color: var(--textailes-color-blue);
}
button:focus {
	border-color: black;
	outline-color: black;
	outline-offset: 2px;
}

button[type="submit"] {
    height: 41px;
	background-color: #066aab;
	border-radius: 3px;
	border-style: none;
	box-shadow: none;
	color: white;
	padding: 0 15px;
	font-weight: 500;
	font-size: 17px;
	line-height: 100%;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	position: relative;
	text-decoration: none;
    vertical-align: middle;  /* Align with loader. */
}
button[type="submit"]:hover {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #066aab;
}
button[type="submit"]:focus {
    outline: none;
}
button[type="submit"]:focus::after {
	content: "";
	position: absolute;
	border: 2px solid #066aab;
	border-radius: 5px;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
}
button[type="submit"]:disabled, button[type="submit"][disabled] {
    opacity: 0.5;
    cursor: default;
}

a.button {
	display: inline-block;
	background-color: #555;
	color: white;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 2px;
	clear: both;
}
a.button:focus, a.button:hover {
    background-color: #f1f1f1;
    color: #555;
}

a.button-2 {
    display: inline-block;
	background-color: black;
	color: white;
	font-size: 0.9rem;
	font-weight: 500;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border: none;
	border-radius: 10px;
}
a.button-2:focus, a.button-2:hover {
	background-color: #636363;
	color: #f9f9f9;
	outline-color: black;
	outline-offset: 2px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  object-fit: cover;  
}