<!-- Header -->
<div class="row">
    <!-- Left content -->
    <div class="col-lg-8 d-flex flex-column justify-content-start">
        <h2 class="mb-3">{{ header_text }}</h2>
    </div>
    <!-- Right content -->
    <div class="col-lg-4">
        <!-- Mode buttons -->
        <div class="d-flex justify-content-between mb-2">
            <a href="{{ url_for(request.endpoint, mode='segmentation', **request.view_args) }}"
                class="btn btn-outline-primary flex-fill me-2
                {% if mode == 'segmentation' %}active{% endif %}">
                Segmentation
            </a>

            <a href="{{ url_for(request.endpoint, mode='classification', **request.view_args) }}"
                class="btn btn-outline-primary flex-fill me-2
                {% if mode in ['classification', 'multispectral_classification'] %}active{% endif %}">
                Classification
            </a>

            <a href="{{ url_for(request.endpoint, mode='detection', **request.view_args) }}"
                class="btn btn-outline-primary flex-fill
                {% if mode == 'detection' %}active{% endif %}">
                Detection
            </a>
        </div>

        {% if mode in ['classification', 'multispectral_classification'] and request.endpoint in ['train_model', 'models', 'collections', 'add_dataset'] %}
        <div class="d-flex justify-content-between mb-3">
            <a href="{{ url_for(request.endpoint, mode='classification', **request.view_args) }}"
                class="btn btn-sm btn-outline-secondary flex-fill me-2 {% if mode == 'classification' %}active{% endif %}">
                2D Images
            </a>
            <a href="{{ url_for(request.endpoint, mode='multispectral_classification', **request.view_args) }}"
                class="btn btn-sm btn-outline-secondary flex-fill {% if mode == 'multispectral_classification' %}active{% endif %}">
                Multispectral Imagery
            </a>
        </div>
        {% endif %}
    </div>
</div>
